NEXT_PUBLIC_API_URL=http://localhost:5050/api
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=
NEXT_PUBLIC_ARC_TESTNET_CHAIN_ID=
NEXT_PUBLIC_ARC_TESTNET_USDC_ADDRESS=
NEXT_PUBLIC_VERITY_TREASURY_ADDRESS=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_FPMM_ADDRESS=
NEXT_PUBLIC_RESOLVER_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_DISPUTE_WINDOW_SECONDS=
NEXT_PUBLIC_PRIVY_APP_ID=