NODE_ENV=development
PORT=5050
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=

# Arc Testnet Configuration
ARC_RPC_URL=
USDC_ADDRESS=
CONDITIONAL_TOKEN_VAULT_ADDRESS=
FPMM_ADDRESS=
FACTORY_ADDRESS=